<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
  <Properties>
    <Property name="PATH">..</Property>
  </Properties>
  <Appenders>

    <RollingFile name="FILEOUT"
        fileName="${PATH}/denodo-mcp-server.log"
        filePattern="${PATH}/denodo-mcp-server.log.%i">
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="7"/>
      <PatternLayout pattern="%-4r [%t] %-5p %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %c %x - %m  %n"/>
    </RollingFile>

    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%-4r [%t] %-5p %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %c %x - %m  %n"/>
    </Console>

  </Appenders>

  <Loggers>
    <Logger name="org.springframework.boot.web.embedded.tomcat.TomcatWebServer" level="INFO" />
    <Logger name="com.denodo.connect.mcp" level="ERROR"/>

    <Root level="ERROR">
      <AppenderRef ref="FILEOUT"/>
      <AppenderRef ref="STDOUT"/>
    </Root>

  </Loggers>
</Configuration>